# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
venv/
ENV/
env/
.venv/

# Django local settings
*.sqlite3
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux
.DS_Store
*.swp

# Logs
*.log
